{{!< default}}
    <main role="main" class="content">
        
        {{#post}}
        <article class="{{post_class}}">
          <a class="btn" href="{{@blog.url}}" title="Back to homepage">&laquo; Back to home</a>
          <h1><a href="{{url}}" title="{{title}}">{{title}}</a></h1>
          
          {{content}}

        </article>
        {{/post}}
   
    </main>

    {{> post-list}}