{{!< default}}

        <div class="container clearfix">
          <main role="main" class="content">
              <div class="tag-title">
                <p>All articles tagged as:</p>
                <h1>{{tag.name}}</h1>
              </div>

              {{#foreach posts}}  
              <article class="{{post_class}} post">
                <h2><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
                
                <p>{{excerpt}}&hellip;</p>
                
                <a href="{{url}}" title="{{title}}">Read more &raquo;</a>

                {{> postmeta}}

              </article>
              {{/foreach}}

              {{pagination}}
             
          </main>
          <aside class="author">
            <a class="btn" href="{{@blog.url}}" title="Back to homepage">&laquo; Back to home</a>
            <img class="profile-image" src="{{asset "img/profile-image.jpg"}}" alt="" />
          </aside>
        </div>
